# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Android
android/
android/.gradle/
android/app/build/
android/build/
ios/Pods/
ios/build/
ios/DerivedData/
ios/*.xcodeproj/project.xcworkspace/
ios/*.xcworkspace/
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/xcshareddata/
ios/*.xcodeproj/xcshareddata/WorkspaceSettings.xcsettings   
ios/*.xcodeproj/xcshareddata/xcschemes/ 
ios/*.xcodeproj/project.xcworkspace/xcuserdata/ 
